body {
    background-color: var(--dark-color);
    font-family: 'Inter_18pt-Regular', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --neon-3: #04234D;
    --neon-2: #04102A;
    --neon-color: #071928;
    --transparent-color: #22222252;
    --dark-green: #006B3F;
    --grey: #ddd;
    --parrot-color: #8bc53f;
    --light-grey: #32414e;
    --background-overlay: #32414ec2;
    --dark-grey: #333;
    --primary-color: #0067B1;
    --background-light: #F6F6F6;
    --white-color: #fff;
    --accent-color: #E1523D;
    --dark-blue: #0C355A;
    --dark-bluish: #062138;
    --dark-color: #000;
    --darkish-blue: #040F18;
    --grey-color: #ededed;
    --radiant-1: #003763bf;
    --radiant-2: #00376300;
    --tech-grey: #D3D3D3;
    --sea-green: #C4003A;
}

/*               navbar             */
.navbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; /* Centers the navbar */
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    width: calc(100% - 40px); /* Leaves 20px space on both sides */
    position: fixed;
    left: 20px; /* Adds space on the left */
    right: 20px; /* Adds space on the right */
    background: transparent;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    z-index: 2000;
}
@media(max-width:837px){
    .navbar{
        left: 0;
        right: 0;
        width: 100%;
    }
}

.navbar-scrolled {
    background-color: #00319c00;
    backdrop-filter: blur(10px);
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
}

.nav-links li {
    transition: color 0.3s ease;
    position: relative;
    margin: 0 15px;
}

.btn-nav btn {}

.nav-links li:hover {
    color: var(--radiant-1);
    /* Hover text color */
}

.nav-links li:hover::after,
.nav-active li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    transition: width 0.3s ease;
}

.nav-links li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    transition: width 0.3s ease;
}

.nav-active li {
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.nav-active li::after {
    width: 100%;
}

.nav-links a {
    color: var(--tech-grey) !important;
    text-decoration: none;
    font-size: 16px;
}

@media(max-width:920px) {
    .nav-links a {
        font-size: 11px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.hamburger span {
    height: 4px;
    width: 30px;
    background: #fff;
    margin: 3px 0;
    transition: 0.3s ease-in-out;
}

.bar-top-cross {
    transform: rotate(45deg) translate(7px, 7px);
}

.bar-hidden {
    opacity: 0;
}

.bar-bottom-cross {
    transform: rotate(-45deg) translate(7px, -7px);
}

.gradient-btn {
    border: none;
    width: 150px;
    padding: 15px 15px;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
}

@media(max-width:855px) {
    .gradient-btn {
        font-size: 11px;
    }
}
.gradient-btn-3 {
    border: none;
    width: 120px;
    padding: 15px 15px;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
}

@media(max-width:855px) {
    .gradient-btn-3 {
        font-size: 11px;
    }
}

/*             Sidebar styles            */
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background: linear-gradient(180deg, #181818 0%, #070707 100%);
    padding-top: 50px;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

@media(max-width:835px) {
    .sidebar {
        display: block;
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul a {
    color: var(--tech-grey) !important;
    text-decoration: none;
    font-size: 18px;
}

.sidebar-active {
    transform: translateX(0);
}

.close-btn {
    font-size: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.4s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
}

/* Responsive Styles */
@media screen and (max-width: 835px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.sidebar img {
    width: 150px;
}

.side-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Hero Section */
.hero-texting {
    display: flex;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
    flex-direction: row;
}

.hero-text {
    font-size: 57px;
    background: linear-gradient(180deg, #FFFFFF 51.38%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:480px) {
    .hero-text {
        font-size: 30px;
        margin: 5px;
    }
}

.animated {
    font-size: 57px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:480px) {
    .animated {
        font-size: 30px;
    }
}

.animated-2 {
    font-size: 40px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:1030px) {
    .animated-2 {
        font-size: 22px;
    }
}
.animated-7 {
    font-size: 40px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:480px) {
    .animated-7 {
        font-size: 30px;
    }
}
.animated-6 {
    font-size: 30px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:1030px) {
    .animated-6 {
        font-size: 22px;
    }
}
@media(max-width:600px) {
    .animated-6 {
        font-size: 22px;
    }
}

.animated-3 {
    font-size: 15px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* @media(max-width:480px) {
    .animated {
        font-size: 20px;
    }
} */

.hero-icon {
    margin-top: 93px;
}

.hero-paragraph {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
}

.hero-paragraph2 p {
    max-width: 457px;
    margin-left: auto;
    font-size: 17px;
    margin-right: auto;
    margin-top: 30px;
    color: var(--tech-grey);
}

@media(max-width:480px) {
    .hero-paragraph2 p {
        margin: 10px;
        font-size: 15px;
    }
}

.hero-paragraph p {
    padding-bottom: 112px;
    font-size: 16px;
    color: var(--tech-grey);
}

@media(max-width:480px) {
    .hero-paragraph p {
        margin: 10px;
        font-size: 15px;
    }
}

@media(max-width:400px) {
    .hero-paragraph p {
        font-size: 13px;
    }
}

.hero-icon img {
    width: 64px;
}

.hero-btn {
    margin-top: 30px;
    margin-bottom: 117px;
}

.hero-line {
    margin-top: 40px;
}

.hero-line img {
    width: 100%;
}

.main-hero-section {
    position: relative;
    /* Position relative to contain the background */
    background-image: url('@/assets/images/demo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: auto;
    /* Ensure it covers full viewport height */
    padding-top: 60px;
    /* Ensure content starts below the navbar */
    z-index: 1;
    /* Set below navbar */
}

@media(max-width:1600px) {
    .main-hero-section {
        min-height: 50vh;
    }
}

@media(max-width:1030px) {
    .main-hero-section {
        min-height: 60vh;
    }
}

.hero-details {
    margin-top: 10px;
}

.hero-stars {
    position: relative;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-image: url('@/assets/images/dots.png');
    background-size: cover;
    opacity: 0.7;
}

/*     footer      */

.footer-container {
    background-image: url('@/assets/images/Ellipse-5.png');
    background-position: right 1px top 2px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-bottom: 27px;
    padding-top: 25px;
}
@media(max-width:770px){
    .footer-container {
        padding-left: 25px;
        padding-right: 25px;
}
}
@media(max-width:665px) {
    .footer-container {
        background-image: none;
    }
}

.footer-row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
}

@media(max-width:720px) {
    .footer-row {
        flex-direction: column;
        justify-content: center;
    }
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

@media(max-width:720px) {
    .footer-col {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-col p {
        text-align: center;
    }
}

@media(max-width:720px) {
    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.footer-col ul {
    list-style-type: none;
}

@media(max-width:720px) {
    .footer-col ul {
        padding: 0px;
    }
}

.footer-col li {
    margin: 5px;
    text-decoration: none;
    color: var(--tech-grey);
    font-size: 12px;
}

.footer-col a {
    text-decoration: none;
}

.footer-col p {
    margin: 5px;
    color: var(--tech-grey);
    font-size: 12px;
}

.footer-col h2 {
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 20px;
}
@media(max-width:710px){
    .footer-col h2 {
        margin-top: 20px;
    }
}
.footer-logo img {
    width: 166px;
    margin: 5px;
    margin-bottom: 20px;
}

.social-icons i {
    margin: 5px;
    color: var(--tech-grey);
}

/*    Special Cards     */

.main-special-cards {
    margin-top: 40px;
}

.special-card-row {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:800px) {
    .special-card-row {
        align-items: center;
        flex-direction: column;
    }
}


.semi-cards {
    display: flex;
    flex-direction: row;
}

@media(max-width:800px) {
    .semi-cards {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.semi-card-1 {
    text-align: left;
    width: 300px;
    height: 356px;
    color: var(--white-color);
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden; /* Ensures the background stays within the card */
    position: relative; /* Required for the pseudo-element */
    background: transparent; /* Ensures no background color interferes */
}

.semi-card-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: transform 0.4s ease-in-out;
    border-radius: inherit;
    z-index: 0; 
}

.semi-card-1:hover::before {
    transform: scale(1.1); 
}

.semi-card-1 > * {
    position: relative; 
    z-index: 1; 
}


@media(max-width:1030px) {
    .semi-card-1 {
        width: 250px;
    }
}

@media(max-width:800px) {
    .semi-card-1 {
        width: 416px;
    }
}

@media(max-width:500px) {
    .semi-card-1 {
        width: 280px;
    }
}

.semi-card-2 {
    width: 300px;
    height: 356px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: var(--white-color);
    text-align: left;
    overflow: hidden;
    position: relative;
    background: transparent; 
}

.semi-card-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-2.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease-in-out;
    border-radius: inherit; 
    z-index: 0; 
}

.semi-card-2:hover::before {
    transform: scale(1.1); 
}

.semi-card-2 > * {
    position: relative; 
    z-index: 1; 
}

@media(max-width:1030px) {
    .semi-card-2 {
        width: 250px;
    }
}

@media(max-width:800px) {
    .semi-card-2 {
        width: 416px;
    }
}

@media(max-width:500px) {
    .semi-card-2 {
        width: 280px;
    }
}

.Special-card-1 {
    width: 500px;
    height: 356px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: var(--white-color);
    text-align: left;
    overflow: hidden; /* Ensures the background stays within the card */
    position: relative; /* Required for the pseudo-element */
    background: transparent; /* Ensures no default background interferes */
}

.Special-card-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-3.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease-in-out; 
    border-radius: inherit;
    z-index: 0; 
}

.Special-card-1:hover::before {
    transform: scale(1.1); 
}

.Special-card-1 > * {
    position: relative;
    z-index: 1; 
}


@media(max-width:1030px) {
    .Special-card-1 {
        width: 400px;
    }
}

@media(max-width:800px) {
    .Special-card-1 {
        width: 416px;
    }
}

@media(max-width:500px) {
    .Special-card-1 {
        width: 280px;
    }
}

.special-card-info {
    display: flex;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.special-card-info h1 {
    font-size: 40px;
    padding-top: 50px;
    background: var(--white-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media(max-width:480px) {
    .special-card-info h1 {
        font-size: 30px;
    }
}

.special-card-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:800px) {
    .special-card-row-2 {
        align-items: center;
        flex-wrap: wrap;
    }
}
.special-card-2 {
    width: 366.666666667px;
    height: 234px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: var(--white-color);
    text-align: left;
    overflow: hidden; /* Ensures the background stays within the card */
    position: relative; /* Required for the pseudo-element */
    background: transparent; /* Ensures no default background interferes */
}

.special-card-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-4.png'); /* Specific background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease-in-out; /* Smooth zoom effect */
    border-radius: inherit; /* Matches card's border radius */
    z-index: 0; /* Stays within the card and doesn't interfere */
}

.special-card-2:hover::before {
    transform: scale(1.1); /* Zoom-in effect for the background */
}

.special-card-2 > * {
    position: relative; /* Ensures content stays above the pseudo-element */
    z-index: 1; /* Keeps card content visible above the pseudo-element */
}


@media(max-width:1030px) {
    .special-card-2 {
        width: 300px;
    }
}

@media(max-width:800px) {
    .special-card-2 {
        width: 300px;
    }
}
.special-card-3 {
    width: 366.666666667px;
    height: 234px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: var(--white-color);
    text-align: left;
    overflow: hidden; 
    position: relative; 
    background: transparent; 
}

.special-card-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease-in-out; 
    border-radius: inherit;
    z-index: 0; 
}

.special-card-3:hover::before {
    transform: scale(1.1); 
}

.special-card-3 > * {
    position: relative; 
    z-index: 1; 
}

@media(max-width:1030px) {
    .special-card-3 {
        width: 300px;
    }
}

@media(max-width:800px) {
    .special-card-3 {
        width: 300px;
    }
}

.special-card-4 {
    width: 366.666666667px;
    height: 234px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: var(--white-color);
    text-align: left;
    overflow: hidden; 
    position: relative; 
    background: transparent; 
}

.special-card-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/card-6.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    transition: transform 0.4s ease-in-out; 
    border-radius: inherit;
    z-index: 0; 
}

.special-card-4:hover::before {
    transform: scale(1.1); 
}

.special-card-4 > * {
    position: relative; 
    z-index: 1; 
}

@media(max-width:1030px) {
    .special-card-4 {
        width: 300px;
    }
}

@media(max-width:800px) {
    .special-card-4 {
        width: 300px;
    }
}

.parent-special-card {
    margin: 20px;
    margin-top: 30px!important;
    /* background: linear-gradient(0deg, rgb(0 0 0) 10%, rgb(0 0 0 / 75%) 30%, rgb(0 0 0 / 75%) 75%, rgb(1, 3, 7) 98%); */
}

.main-special-cards {
    background-image: url('@/assets/images/cards-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.specail-cards-btns {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
    padding-bottom: 65px;
    justify-content: center;
}

@media(max-width:450px) {
    .specail-cards-btns {
        flex-direction: column;
        align-items: center;
    }
}

.simple-btn {
    cursor: pointer;
    width: 150px;
    margin-left: 20px;
    border: none;
    padding: 15px 15px;
    color: var(--dark-color);
    border-radius: 25px;
    background: var(--background-light);
}

@media(max-width:855px) {
    .simple-btn {
        font-size: 11px;
    }
}

@media(max-width:450px) {
    .simple-btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.simple-btn-2 {
    cursor: pointer;
    width: 120px;
    border: none;
    padding: 10px 10px;
    color: var(--dark-color);
    border-radius: 25px;
    background: var(--background-light);
}

@media(max-width:855px) {
    .simple-btn-2 {
        font-size: 11px;
    }
}

/*     Pixel Tech     */
.pixel-info {
    padding-left: 52px;
}
@media(max-width:770px){
    .pixel-info {
        padding-left: 0px;
        margin-bottom: 18px;
    }
}
.pixel-row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:798px) {
    .pixel-row {
        flex-direction: column;
    }
}

.pixel-col-1 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media(max-width:798px) {
    .pixel-col-1 {
        width: auto;
    }
}

.pixel-col-2 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media(max-width:1030px) {
    .pixel-col-2 {
        width: 50%;
    }
}

@media(max-width:798px) {
    .pixel-col-2 {
        width: auto;
    }
}

.pixel-head {
    margin-bottom: 30px;
}

.pixel-head h1 {
    font-size: 40px;
    background: linear-gradient(180deg, #FFFFFF 51.38%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: left;
}

@media(max-width:1030px) {
    .pixel-head h1 {
        font-size: 22px;
    }
}

@media(max-width:768px) {
    .pixel-head h1 {
        text-align: center;
    }
}

@media(max-width:400px) {
    .pixel-head h1 {
        font-size: 20px;
    }
}

.pixel-image img {
    width: 100%;
}

.pixel-container {
    padding: 50px;
    background-image: url('@/assets/images/right-bg.png'), url('@/assets/images/left-bg.png');
    background-position: left 0px bottom -60px, right 0px top -103px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    /* You can adjust this to 'cover' or a specific size if needed */
    position: relative;
    padding-bottom: 50px;
}

@media(max-width:600px) {
    .pixel-container {
        padding: 22px;
        padding-bottom: 0px;
    }
}

.pixel-description {
    max-width: 461px;
    margin-right: auto;
}

@media(max-width:768px) {
    .pixel-description {
        max-width: 100%;
    }
}

.pixel-description p {
    text-align: left;
    line-height: 18.7px;
    font-size: 17px;
    color: var(--tech-grey);
    margin-bottom: 30px;
}

@media(max-width:1030px) {
    .pixel-description p {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .pixel-description p {
        margin-left: auto;
        max-width: 100%;
        margin-right: auto;
        text-align: center;
    }
}

.pixel-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
@media(max-width:550px) {
.pixel-btn{
    justify-content: center;
}
}
/*     Work Section      */
.work-container {
    /* margin-top: -100px; */
}

.parenting-work {
    background-image: url('@/assets/images/r-blue.png'), url('@/assets/images/l-green.png');
    background-position: left -62px bottom -102px, right -75px top -103px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    position: relative;
    padding-bottom: 40px;
}

.work-head h2 {
    margin-top: 20px;
    font-size: 40px;
    color: var(--tech-grey);
}

@media(max-width:1030px) {
    .work-head h2 {
        font-size: 22px;
    }
}

@media(max-width:480px) {
    .work-head h2 {
        font-size: 20px;
    }
}

.work-row-1 {
    padding-top: 10px;
}

.work-row-2 {
    display: flex;
    flex-direction: row;
    max-width: 1161px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    /* padding-bottom: 17px; */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 65%;
    background-image: url('@/assets/images/bottom-bg.png');
}

@media(max-width:780px) {
    .work-row-2 {
        flex-direction: column;
        justify-content: center;
        background-image: none;
        align-items: center;
    }
}

.work-row-3 {
    display: flex;
    flex-direction: row;
    max-width: 1161px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    padding-bottom: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('@/assets/images/bottom-bg.png');
}

@media(max-width:780px) {
    .work-row-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.work-col-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: -65px;
}

@media(max-width:860px) {
    .work-col-1 {
        top: -20px;
    }
}

@media(max-width:780px) {
    .work-col-1 {
        margin: 30px;
        width: auto;
        margin-top: 30px;
        top: 0px;
    }
}

.work-col-1-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
    margin-top: 54px;
}

@media(max-width:860px) {
    .work-col-1-1 {
        top: -10px;
    }
}

@media(max-width:780px) {
    .work-col-1-1 {
        margin: 30px;
        width: auto;
        margin-top: 30px;
        top: 0px;
    }
}

.work-col-2 {
    width: 50%;
    justify-content: center;
}

@media(max-width:600px) {
    .work-col-2 {
        width: 100%;
    }
}

.work-image img {
    width: 100%;
}

.work-head2 {
    margin-bottom: 30px;
}

.work-head2 h2 {
    color: var(--tech-grey);
    font-size: 40px;
    font-weight: 100;
    text-align: left;
}

@media(max-width:768px) {
    .work-head2 h2 {
        text-align: center;
    }
}

.work-description p {
    color: var(--tech-grey);
    /* margin-top: 3px; */
    margin-bottom: 30px;
    max-width: 307px;
    margin-right: auto;
    font-size: 15px;
    text-align: left;
}

@media(max-width:768px) {
    .work-description p {
        max-width: 100%;
        text-align: center;
    }
}

.work-description2 p {
    color: var(--tech-grey);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
    font-size: 16px;
}
@media(max-width:500px) {
    .work-description2 p {
        text-align: center;
    }
}
.work-btn {
    display: flex;
    justify-content: flex-start;
}

@media(max-width:768px) {
    .work-btn {
        justify-content: center;
    }
}

.gradient-btn-2 {
    cursor: pointer;
    border: none;
    width: 120px;
    font-size: 12px;
    padding: 10px 15px;
    color: var(--white-color);
    border-radius: 25px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
}

.talk-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk-icon img {
    position: relative;
    bottom: -74px;
    width: 47px;
}

/*    Brand Container     */
.logo-scroller {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.logos {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width:500px) {
    .logos {
        width: auto;
        height: auto;
        flex-direction: column;
    }
}
.logos img {
    margin: 10px;
    width: 87px;                
    height: 35px;
}

.brands-head h2 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    color: var(--tech-grey);
}

@media(max-width:1030px) {
    .brands-head h2 {
        font-size: 22px;
    }
}

@media(max-width:480px) {
    .brands-head h2 {
        font-size: 20px;
    }
}

.main-logo-container {
    /* background-image: url(http://localhost:8080/img/r-blue.3f7cbe73.png);
    background-position: left 0px bottom -53px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; */
    padding-bottom: 50px;
}

.brands-container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
    padding: 30px;
}

.brands-head {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.brands-head h2 {
    margin-bottom: 30px;
}

.brands-head p {
    margin-bottom: 30px;
    font-size: 16px;
    color: var(--tech-grey);
}

/*       NewsArticles       */

.Article-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    z-index: 100;
    position: relative;
    margin-top: -100px;
    padding-top: 0px !important;
    padding: 20px;
}

@media(min-width:1590px) {
    .Article-card-container {
        margin-top: -24px;
    }
}

.Article-card {
    width: 376px;
    margin: 10px;
    z-index: 1000;
    border: 1px solid grey;
    background-color: #111;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.Article-card:hover {
    transform: translateY(-10px);
}

.Article-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}

@media(max-width:420px) {
    .Article-card img {
        height: 210px;
    }
}

.Article-card-content {
    padding: 20px;
    text-align: left;
    color: white;
}

.Article-card-date {
    font-size: 14px;
    color: #515151;
}

.Article-card-title {
    font-size: 18px;
    margin-top: 10px;
    background: linear-gradient(90deg, #29DFFD 0%, #245AF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 100;
}

@media (max-width: 600px) {
    .Article-card-container {
        padding: 10px;
    }

    .Article-card-content {
        padding: 10px;
    }
}

@media (max-width: 330px) {
    .Article-card-container {
        margin: 0px;
    }

}

.article-head h2 {
    font-size: 40px;
    color: var(--tech-grey);
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width:1030px) {
    .article-head h2 {
        font-size: 22px;
    }
}

/* @media(max-width:480px) {
    .article-head h2 {
        font-size: 20px;
    }
} */

/*    Review Section    */

.review-col-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.review-col-2 {
    width: 50%;
    display: flex;
    margin-left: -24px;
    flex-direction: column;
    justify-content: space-around;
}

.review-row {
    display: flex;
    flex-direction: row;
}

.review {
    width: 452px;
    height: 256px;
    background-image: url('@/assets/images/review-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* @media(max-width:430px){
    .review {
        height: 131px;
    }
} */
.reviewer-img img {
    width: 82%;
    height: 189px;
    margin-left: -22px;
    margin-top: 37px;
    padding-bottom: 11px;
    padding-top: 1px;
    border-radius: 50%;
}

@media(max-width:830px) {
    .reviewer-img img {
        width: 82%;
        height: 164px;
        margin-left: -22px;
        margin-top: 50px;
        padding-bottom: 11px;
        padding-top: 1px;
        border-radius: 50%;
    }
}
@media(max-width:720px) {
    .reviewer-img img {
        width: 82%;
        height: 189px;
        margin-left: -22px;
        margin-top: 38px;
        padding-bottom: 11px;
        padding-top: 1px;
        border-radius: 50%;
    }
}

@media(max-width:440px) {
    .reviewer-img img {
        width: 81%;
        height: 178px;
        margin-left: -25px;
        margin-top: 42px;
        padding-bottom: 11px;
        padding-top: 1px;
        border-radius: 50%;
    }
}

@media(max-width:380px) {
    .reviewer-img img {
        width: 77%;
        height: 153px;
        margin-left: -25px;
        margin-top: 56px;
        padding-bottom: 11px;
        padding-top: 1px;
        border-radius: 50%;
    }
}

@media(max-width:341px) {
    .reviewer-img img {
        width: 77%;
        height: 139px;
        margin-left: -24px;
        margin-top: 62px;
        padding-bottom: 11px;
        padding-top: 1px;
        border-radius: 50%;
    }
}

.review-col-2-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-col-2-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* @media(max-width:430px) {
    .reviewer-img img {
        width: 63%;
        height: 131px;
        margin-left: -19px;
        margin-top: 6px;
        padding-bottom: 16px;
        padding-top: 1px;
        border-radius: 50%;
    }
} */

.review-col-2-1 p {
    font-size: 10px;
    text-align: left;
    font-style: italic;
    width: 193px;
    margin-top: 15px;
    line-height: 1.6;
    color: var(--tech-grey);
}

@media(max-width:830px) {
    .review-col-2-1 p {
        font-size: 8px;
        text-align: left;
        font-style: italic;
        width: 170px;
        margin-top: 31px;
        line-height: 1.6;
        color: var(--tech-grey);
    }
}

@media(max-width:440px) {
    .review-col-2-1 p {
        font-size: 7px;
        text-align: left;
        font-style: italic;
        width: 147px;
        margin-top: 49px;
        line-height: 1.6;
        color: var(--tech-grey);
    }
}

.review-col-2-2 p {
    font-size: 10px;
    text-align: left;
    color: var(--light-grey);
}

.review-col-2-2 h3 {
    font-size: 14px;
    text-align: left;
    font-style: italic;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
}

@media(max-width:400px) {
    .swiper-slide {
        margin-left: 2px;
    }
}

.main-review-section {
    padding-bottom: 30px;
    margin-bottom: 50px;
    margin-top: 120px;
}

.review-context p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--tech-grey);
}

.review-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media(max-width:400px) {
    .review-context {
        margin: 5px;
    }
}

.review-context h2 {
    font-weight: 100;
    font-size: 40px;
    color: var(--tech-grey);
}

@media(max-width: 1030px) {
    .review-context h2 {
        font-size: 22px;
    }
}

/*   Service hero section    */
.service-hero-texting {
    display: flex;
    text-align: center;
    margin-top: 90px;
    justify-content: center;
    flex-direction: row;
}

.main-service-hero-section {
    position: relative;
    background-image: url('@/assets/images/hero-section-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: auto;
    padding-top: 60px;
    z-index: 1;
}

@media(min-width:2000px) {
    .main-service-hero-section {
        min-height: 44vh;
    }
}
@media(max-width:1600px) {
    .main-service-hero-section {
        min-height: 81.5vh;
    }
}
@media(max-width:1590px) {
    .main-service-hero-section {
        min-height: 71.5vh;
    }
}

@media(max-width:1030px) {
    .main-service-hero-section {
        min-height: 60vh;
    }
}

/*    Service Cards    */

.serial-details {
    /* margin-top: 10px; */
}
.serial-details-2 {
    margin-bottom: 10px;
}



.s-d-image {
    width: 48%;
    display: flex;
    justify-content: right;
    align-items: center;
}

@media(max-width:631px) {
    .s-d-image {
        width: auto;
    }
}

.ss-main {
    display: flex;
    flex-direction: row;
}

@media(max-width:631px) {
    .ss-main {
        flex-direction: column;
    }
}

.main-service-cards {
    width: auto;
    height: 100%;
}
.ss-card-info-2 {
    height: 100%;
}
.ss-card-info-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width:631px) {
    .ss-card-info-3 {
        flex-direction: column;
    }
}

.service-card-container {
    background-image: url('@/assets/images/r-blue.png'), url('@/assets/images/l-green.png');
    background-position: left -340px bottom -296px, right -311px top -280px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    position: relative;
    z-index: 1;
    margin-top: -73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-cards-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:631px) {
    .service-cards-row-1 {
        flex-direction: column;
    }
}

.service-cards-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:631px) {
    .service-cards-row-2 {
        flex-direction: column;
    }
}

.serial-number {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    line-height: 1;
}

.service-card-one {
    margin: 10px;
    display: flex;
    border: 1.2px solid var(--dark-grey);
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    width: 450px;
    height: auto;
}

@media(max-width:631px) {
    .service-card-one {
        width: auto;
    }
}

.service-card-two {
    margin: 10px;
    padding: 10px;
    border: 1.2px solid var(--dark-grey);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 450px;
    overflow: hidden;
    height: auto;
}

@media(max-width:631px) {
    .service-card-two {
        width: auto;
    }
}

.service-large-card {
    margin: 10px;
    padding: 10px;
    border: 1.2px solid var(--dark-grey);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 920px;
    overflow: hidden;
    height: auto;
}

@media(max-width:631px) {
    .service-large-card {
        width: auto;
    }
}

.sd-1 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media(max-width:631px) {
    .sd-1 {
        width: auto;
    }
}
.ss-card-image2 {
    height: 250px;
}
@media(max-width:631px) {
    .ss-card-image2 {
        height: auto;
    }
}
.ss-card-image {
    height: 300px;
    width: 100%;
}
@media(max-width:631px) {
    .ss-card-image {
        height: auto;
    }
}
.ss-card-image1 {
    height: 250px;
}
@media(max-width:631px) {
    .ss-card-image1 {
        height: auto;
    }
}
.ss-card-image img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

@media(max-width:631px) {
    .ss-card-image img {
        margin-top: 11px;
    }
}
.ss-card-image2 img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

@media(max-width:631px) {
    .ss-card-image2 img {
        margin-top: 11px;
    }
}
@media(max-width:480px) {
    .ss-card-image2 img {
        margin-top: 0px;
    }
}

.ss-card-image1 img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

@media(max-width:631px) {
    .ss-card-image1 img {
        margin-top: 11px;
    }
}

.ch-title {
    margin-bottom: 20px;
}

.ss-card-detail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ss-card-detail p {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 0.78rem;
    margin-bottom: 3px;
    color: var(--tech-grey);
}

@media(max-width:631px) {
    .ss-card-detail p {
        height: auto;
        font-size: 14px;
    }
}

/*    Creation Cards    */


.creation-card-description {
    background: linear-gradient(179.98deg, #1E1E1E 0.02%, #040404 106.17%);
    border-top: 1px solid var(--tech-grey);
    padding: 25px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: -7px;
}

.creation-card-description h2 {
    margin-bottom: 15px;
    color: var(--tech-grey);
    font-weight: 100;
    font-size: 25px;
}

@media(max-width:790px) {
    .creation-card-description h2 {
        font-size: 16px;
    }
}

.creation-card-description p {
    margin-bottom: 15px;
    line-height: 1.38;
    color: var(--tech-grey);
    font-weight: 100;
    font-size: 14px;
}

@media(max-width:770px) {
    .creation-card-description p {
        margin-bottom: 10px;
        line-height: 1.;
        color: var(--tech-grey);
        font-weight: 100;
        font-size: 9px;
    }
}

.main-creation-cards {
    background-image: url('@/assets/images/r-blue.png'), url('@/assets/images/l-green.png');
    background-position: left -340px bottom -296px, right -311px top -280px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    position: relative;
}

.creation-card-row {
    position: relative;
    z-index: 1;
    margin-top: -95px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.creation-card-image {}

.creation-card-description {}

.creation-card-image img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.creation-card {
    text-align: left;
    margin: 10px;
    border: 1px solid var(--tech-grey);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
    width: calc(50% - 100px);
    height: auto;
}

@media (max-width: 700px) {
    .creation-card {
        width: 60%;
        /* Full width on smaller screens */
    }
}

@media (max-width: 450px) {
    .creation-card {
        width: 90%;
        /* Full width on smaller screens */
    }
}

/* .creation-card-2 {
    text-align: left;
    margin: 10px;
    border: 1px solid var(--tech-grey);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
    width: 350px;
    height: auto;
} */

/*      Contact us      */

.recaptcha-wrapper {
    width: 300px;
    /* Desired width */
    margin: auto;
    /* Center the reCAPTCHA */
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
}

.g-recaptcha {
    width: 100%;
    /* Make the reCAPTCHA fill the wrapper */
    transform: scale(0.8);
    /* Scale down if needed */
    transform-origin: top left;
    /* Ensure scaling is from the top left */
    height: auto;
    /* Adjust height based on content */
}

/* Optional: Hide the default iframe outline */
.g-recaptcha iframe {
    border: none;
    /* Remove default border */
}

@media(max-width:382px) {
    #rc-anchor-container {
        width: 200px !important;
    }
}

@media(max-width:545px) {
    .contact-infos {
        margin-bottom: 10px;
    }
}

.booking-box {
    margin: 15px;
    background: linear-gradient(180deg, #181818 0%, #070707 100%);
    border-radius: 12px;
    border: 1px solid var(--tech-grey);
    width: 314px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

@media(max-width:720px) {
    .booking-box {
        width: 250px;
    }
}

.book-row1 {
    display: flex;
    margin-top: 6px;
    flex-direction: row;
    justify-content: space-between
}

.book-dsp p {
    text-align: left;
    font-size: 11px;
    color: var(--tech-grey);
    margin-top: 38px;
    margin-bottom: 10px;
}

.book-row1 p {
    font-size: 24px;
    text-align: left;
    background: linear-gradient(180deg, #FFFFFF 51.38%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#phone {
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--tech-grey);
}

#email {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid var(--tech-grey);
}

#company {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid var(--tech-grey);
}

#fullName {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid var(--tech-grey);
}

#budget {
    background-color: transparent;
    border: 1px solid var(--tech-grey);
    border-radius: 12px;
}

#details {
    background-color: transparent;
    border: 1px solid var(--tech-grey);
    border-radius: 12px;
}

.main-contact {
    background-image: url('@/assets/images/contact-img.png');
    background-position: right 0px top 5px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -36px;
    z-index: 1;
    position: relative;
}

@media(max-width:1030px) {
    .main-contact {
        margin-top: 30px;
    }
}

.contact-form {
    max-width: 804px;
    text-align: left;
    margin: 15px;
    padding: 20px;
    background: linear-gradient(180deg, #181818 0%, #070707 100%);
    border-radius: 10px;
    color: #fff;
    border: 1px solid var(--tech-grey);
}

.contact-form h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 100;
    background: linear-gradient(180deg, #FFFFFF 51.38%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact-row {
    display: flex;
    justify-content: center;
}

@media(max-width:680px) {
    .contact-row {
        flex-direction: column;
    }
}

.contact-form-group {
    margin-bottom: 15px;
    flex: 1;
    margin-right: 10px;
}

.contact-form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2e;
    color: #fff;
}

input::placeholder,
textarea::placeholder {
    color: #7a7a7a;
}

option {
    color: black;
}

.contact-help-options {
    display: flex;
    flex-wrap: wrap;
}

.contact-help-btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--tech-grey);
    margin: 5px;
    cursor: pointer;
}

.contact-help-btn:hover {
    background-color: #3a3a3e;
}

textarea {
    height: 100px;
}

.contact-submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-submit-btn:hover {
    background-color: #0056b3;
}

.contact-footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

@media(max-width:546px) {
    .contact-footer {
        flex-direction: column;
        justify-content: center;
    }
}

.contact-footer a {
    color: #007bff;
    text-decoration: none;
}

@media (max-width: 600px) {
    .contact-row {
        flex-direction: column;
    }

    .contact-form {
        padding: 15px;
    }

    .contact-help-btn {
        width: 100%;
    }
}

/*   admin-sidebar     */

.sidebar-nav-links {
    margin-top: 50px !important;
}

.ad-sidebar-logo {
    margin-top: 50px;
}

.admin-sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
    position: relative;
    width: 234px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    height: 100vh;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
}


.sidebar-nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav-links li {
    margin: 15px 0;
    text-align: left;
}

.sidebar-nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: -14px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar-nav-links li a:hover {
    background-color: #1abc9c;
}

/*   admin-navbar   */

.admin-navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    /* Dark background */
    color: white;
    /* Text color */
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.admin-navbar-left .admin-navbar-logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.admin-navbar-right {
    display: flex;
}

.admin-nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.admin-nav-links li {
    margin-left: 20px;
    /* Space between the nav items */
}

.admin-nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.admin-nav-links li a:hover {
    background-color: #1abc9c;
}

/*   admin-layout   */


.admin-layout {
    background-color: #F4F4F4;
    display: flex;
    height: 110vh;
}

.content {
    flex-grow: 1;
    height: 145vh;
    margin-left: 200px;
    padding: 20px;
    background-color: #f4f4f4;
}


/*    Register Page     */

/* Add some basic styling for the register form */
.register-page {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.register-form-group {
    margin-bottom: 15px;
}

.register-form-group label {
    display: block;
    margin-bottom: 5px;
}

.register-form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #16a085;
}
/*      loader      */ 
.modelloader {
    position: absolute;
    top: 0;
    right: 200px;
    /* width: 14%; */
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .modelloader {
        right: 350px;
    }
}


@media(max-width:500px){
    .modelloader {
        right: 169px;
    }
}
@media(max-width:380px){
    .modelloader {
        right: 145px;
    }
}
@media(max-width:330px){
    .modelloader {
        right: 125px;
    }
}
@media(max-width:800px){
    .modelloader {
        margin-top: 230px;
    }
}
.loader-component {
    width: 100%;
}
.loader {
    display: flex;
    justify-content: center; /* Center dots horizontally */
    align-items: center; /* Center dots vertically */
    height: 100%; /* Full height of parent div */
    width: 100%; /* Full width of parent div */
  }
  
  .dot {
    width: 15px; /* Dot size */
    height: 15px; /* Dot size */
    margin: 0 5px; /* Space between dots */
    border-radius: 50%; /* Circular dots */
    background-color: #3498db; /* Dot color */
    animation: wave 1s infinite; /* Wave animation */
  }
  
  /* Wave animation */
  .dot:nth-child(1) {
    animation-delay: 0s; /* No delay */
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s; /* Slight delay for wave effect */
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s; /* More delay for wave effect */
  }
  
  @keyframes wave {
    0%, 100% {
      transform: translateY(0); /* Original position */
    }
    50% {
      transform: translateY(-20px); /* Move up */
    }
  }